beautifulsoup4==4.9.1
langdetect==1.0.7
matplotlib==3.2.1
nltk==3.6.6
numpy==1.21.0
pandas==1.0.4
scikit-learn==0.23.1
seaborn==0.10.1
selenium==3.141.0
streamlit==0.61.0
tensorflow==2.7.2
tensorflow-hub==0.8.0